@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab:wght@500&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Lato", sans-serif;
  margin:0;
}

nav {
  background-color: #592383; /*#62929E*/
  color: white;
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

nav a {
  color: #fff;
  margin-left: 30px;
  text-decoration: none;
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  border-bottom: 3px solid white;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: translateY(10px);
  transition: transform 0.3s ease;
  opacity: 0;
}

nav a:hover::after {
  border-bottom: 3px solid white;
  transform: translateY(0px);
  opacity: 1;
}

header {
  height: 100vh;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#about {
  font-size: 20px;
  background-color: #eae6e5;
}
/* #FDECEF */
#about h2 {
  padding-top: 30px;
  font-weight: 400;
}

#about p {
  padding-top: 10px;
  padding-bottom: 20px;
  line-height: 30px;
}
footer {
  background-color: #592383;
  color: white;
  padding: 10px;
  text-align: center;
}

header::after {
  content: "";
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
}

header * {
  position: relative;
  z-index: 1;
}

header h1 {
  font-size: 60px;
  margin-bottom: 5px;
  margin-top: 0;
}

header p {
  font-size: 30px;
  margin: 0;
}

.fa {
  padding: 20px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

section {
  text-align: center;
  padding: 30px;
}

section h2 {
  margin: 0;
}

section p {
  margin-top: 0;
}
.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 810px;
  margin: 30px auto 0;
}

#projects h2 {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 400;
}
.project {
  max-width: 250px;
  margin: 10px;
  text-decoration: none;
  transition: transform 0.3s ease;
  padding-left: 20px;
  padding-bottom: 20px;
}

.project:hover {
  transform: scale(1.05);
}
.project img {
  max-width: 100%;
  padding-bottom: 10px;
}

.project a {
  font-size: 20px;
  margin-top: 10px;
  color: black;
  text-decoration: none;
}

.bg-purple {
  background-color: #b57ba6;
  background-size: cover;
  color: white;
}
.social-links {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.social-links a {
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin: 0 10px;
  height: 50px;
  width: 50px;
  text-decoration: none;
}

@media (max-width: 540px) {
  section {
    padding: 20px;
  }
}
